{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task App{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block extra_style %}{% endblock extra_style %}
</head>
<body>
    <header>
        {% block header %}
            <a href="{% url "home" %}" class="header title">Task App</a>
            <nav class="header">
                <div class="container">
                    <a href="{% url "task_create" %}" class="nav_link">タスクを作成する</a>
                </div>
                {% if user.is_authenticated %}
                <form action="{% url "logout" %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">ログアウト</button>
                </form>
                <a href="{% url "user_edit" %}">ユーザー設定変更</a>
                {% endif %}
            </nav>
        {% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer></footer>
</body>
</html>